.checkin{

  .card-header-primary{
    color: white;
    background-color: rgb(69, 163, 161);
  }

  .contact-icon{
    color: rgb(102, 102, 102);
  }

  .item-appointment{
    padding: 0px;

    .item-inner{
      padding: 0px;
    }

    ion-label{
      margin: 0px;
    }
  }
}
