.time{
  .slides-quality{
    height: 90%;
  }

  .slide-zoom{
    height: 100%;
  }

  .card-quality{
    height: 90%;
  }

  .display-time{
    height: 10%;
    font-size: large;
    color:  rgb(69, 163, 161);
  }
}
